.simList {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background: #f2f2f2;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #b1b1b1;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
