@import './../../styles/_variables';

.content {
  width: 100%;
  height: 320px;
  padding: 15px 15px;
  box-sizing: border-box;
  float: left;
  color: #333;
  background: #fff;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 11px;
  }

  .rows {
    margin-top: 20px;

    h3 {
      font-family: $fontLight;
      font-size: 20px;
      display: block;
      margin-top: 13px;
    }
  }

  .label {
    color: #999;
    font-family: $fontLight;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }

  .labelCredito {
    font-family: $fontLight;
    font-size: 20px;
    display: block;
  }

  .credRes {
    margin: 7px 0;
    font-size: 24px;
    color: #515151;
    font-weight: 700;
    font-family: $fontBold, sans-serif;
  }

  .chartcontainer {
    clear: both;
    float: none;
    overflow: auto;

    &::after {
      content: '';
      clear: both;
      display: table;
    }

    .barchart {
      float: left;
      width: 70%;
      height: 10px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #ebebeb;
      overflow: hidden;
      margin-top: 10px;

      .progress {
        float: right;
        height: 10px;
        border-radius: 5px;
        background: -webkit-linear-gradient(left, #9c2aa0 0%, #5e2750 100%);
        background: linear-gradient(to right, #9c2aa0 0%, #5e2750 100%);
      }
    }

    .textchart {
      float: left;
      width: 29%;
      font: normal 14px/1.3em $fontLight, sans-serif;
      color: #000000;
      box-sizing: border-box;
      margin-left: 0;
      margin-top: 5px;
      padding-left: 10px;
      white-space: nowrap;
    }
  }
}
