@font-face {
  font-family: $fontRegular;
  font-style: normal;
  font-weight: normal;
  src: url('~/fonts/vodafonerg.woff') format('woff');
}

@font-face {
  font-family: $fontBold;
  font-style: normal;
  font-weight: normal;
  src: url('~/fonts/vodafonerg-bd.woff') format('woff');
}

@font-face {
  font-family: $fontLight;
  font-style: normal;
  font-weight: normal;
  src: url('~/fonts/vodafonelt.woff') format('woff');
}
