/**
* import dependencies 
* IMPORTANT: Doesn't change the order.
*/

@import './_variables';
@import './_fonts';

* {
  margin: 0;
  moz-outline-style: none;
  outline: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: none;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  background: #f2f2f2;
  max-width: 954px;
}

h2 {
  font-size: 24px;
  font-family: $fontBold;
  display: block;
  margin-bottom: 26px;
}

.preloadFont {
  visibility: hidden;
  font-family: $fontRegular;
}

.preloadFont p {
  font-family: $fontLight;
}

.preloadFont strong {
  font-family: $fontBold;
}

.shadow {
  display: block;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: #fff;
  font-family: $fontRegular;
}

hr {
  margin: 10px 0 15px !important;
  border: 0 none;
  border-top: 1px solid #ccc;
  padding: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
}
