@import './../../styles/_variables';

.content {
  width: 100%;
  height: 320px;
  padding: 15px 15px;
  box-sizing: border-box;
  float: left;
  color: #333;
  background: #fff;
  display: flex;
  flex-direction: column;

  h2 {
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col {
      width: 30%;
    }
  }

  .label {
    color: #999;
    font-family: $fontLight;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
  }

  .labelCredito {
    font-family: $fontLight;
    font-size: 20px;
    display: block;
  }

  .credRes {
    margin: 7px 0;
    font-size: 24px;
    color: #515151;
    font-weight: 700;
    font-family: $fontBold, sans-serif;
  }
}
