$iconContainer: 31px;
$iconSize: 17px;
$halfIcon: calc(#{$iconContainer} - #{$iconSize});

.content {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
  &.active {
    opacity: 1;
  }

  div {
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      &.tipo {
        font-weight: 700;
        height: 20px;
        line-height: 19px;
      }
      &.numero {
        white-space: nowrap;
      }
    }
    &.icon {
      background: #555;
      border-radius: 50%;
      width: $iconContainer;
      height: $iconContainer;
      display: block;
      text-align: center;
      margin-right: 10px;
      img {
        height: $iconSize;
        margin-top: calc(#{$halfIcon} / 2);
      }
    }
  }
}
