@import './../../styles/_variables';

.content {
  width: 100%;
  height: 200px;
  padding: 15px 15px;
  box-sizing: border-box;
  float: left;
  color: #fff;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
  position: relative;

  h2 {
    margin-bottom: 11px;
  }

  .buttons {
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      max-width: 48%;
    }
  }
}

.loaded {
  opacity: 1;
}
