@import 'styles/_variables.scss';

.button {
  font-size: 14px;
  min-width: 100px;
  padding: 11px 0;
  background-color: #e60000;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-family: $fontRegular, $fontBold;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-left: 0;
  flex-grow: 1;
  width: 50%;
  font-weight: 100;
  letter-spacing: normal;
}

.white {
  background: #fff !important;
  color: #000;
}

.transparent {
  background: transparent !important;
  color: #fff;
  border: 1px solid #fff;
}
